@charset "utf-8";

#main_visual{position: relative;overflow: hidden;width:100%;height:530px; margin-top:-2px}
#main_visual .mainbg_wrap{position: absolute;top: 0;left: 0;width: 100%;}
#main_visual .mainbg_wrap .mainbg{position: absolute;top: 0;left: 50%;width: 100%;margin-left:-1000px;}
#main_visual .mainbg_wrap .mainbg img {width:2000px;}
#main_visual .visual_wrap{position: relative; margin:0 auto; width:978px;}
#main_visual .visual_wrap .visual{ position:absolute;left: 0;top: 0;width: 100%;}
#main_visual .visual_location a{float: left;display: block;margin-left: 10px;cursor:pointer;}
#main_visual .visual_location a:first-child{margin-left: 0;}
#main_visual .visual_location a.on{color: #f00;}
#main_visual .visual_location .icon{display: block;width: 20px;height: 23px;background: url('/resources/image/user/kor/main/icon/icon_arrow01.png') no-repeat 0 0;text-indent:-100px;}

#main_visual.size1024{height: 376px;}
#main_visual .size1024upper{display:none}
#main_visual .size1024upper .visual_location{position: absolute;top: 351px;left: 0;overflow: hidden;z-index:10;}
#main_visual .size1024upper .visual div.img_visual{position:relative;z-index:1;}
#main_visual .size1024upper .visual div.img_visual .pic{position:absolute;top:0;left:120px;z-index:1;}
#main_visual .size1024upper .visual div.img_visual .cover{width:2000px;position:absolute; left:50%; top:0; margin-left:-1000px;z-index:2}

#main_visual .size1024upper .visual .t_motion01{position:absolute; left:0; top:181px; z-index:3;}
#main_visual .size1024upper .visual .t_motion01.copy2Pos {}
#main_visual .size1024upper .visual .t_motion01.copy3Pos {}
#main_visual .size1024upper .visual .t_motion01 span{display:block}
#main_visual .size1024upper .visual .t_motion02{position:absolute; left:0; top:321px; z-index:3;}
#main_visual .size1024upper .visual .t_motion02 span{margin:0 auto; width:213px}
#main_visual .size1024upper .visual .t_motion02 .fl{}
#main_visual .size1024under{display: none;}
#main_visual .size1024under .visual_location{position: absolute;top: 351px;left: 0;overflow:hidden;z-index:10;}
#main_visual .size1024under .visual p.img_visual{position:absolute; right: 57px; top:0; z-index:1}
#main_visual .size1024under .visual .t_motion01{position:absolute; left:113px; top:116px; z-index:2}
#main_visual .size1024under .visual .t_motion02{position:absolute; left:220px; top:228px; z-index:2;}
#main_visual .size1024under .visual .t_motion02 span{margin:0 auto; width:208px}
#main_visual .size1024under .visual .t_motion02 .fl{width: 100%;}

#main h2{font-family:arial;font-weight:bold;font-size:30px;color:#000;text-align:center;margin-top:100px;margin-bottom:57px;letter-spacing:1px;}

#mNews{width:941px;margin:91px auto 0;*zoom:1;position:relative;border-left:10px solid #dee4e7;padding-left:27px;background:url('/resources/image/user/kor/main/news_border_btm.gif') 110% 100% no-repeat;}
#mNews:after{content:'';display:block;clear:both;float:none;width:0;height:0;}
#mNews h2{color:#2ab6ad;font-weight:bold;font-size:13px;margin-bottom:7px;margin-top:0;text-align:left;letter-spacing:0;}
#mNews .left{float:left;width:442px;}
#mNews .right{float:right;width:486px;}
#mNews .tit{padding-right:90px;}
#mNews .tit a{font-size:24px;color:#000;line-height:35px;}
#mNews .date{display:inline-block;font-family:arial;font-size:14px;color:#4c4c4c;margin-top:10px;}
#mNews .txt{padding-left:19px;background:url('/resources/image/user/kor/main/news_border.gif') 0 50% no-repeat;}
#mNews .txt a{font-size:13px;line-height:24px;color:#666;}
#mNews a:hover,
#mNews a:focus{color:#ca0300;}
#mNews .more{display:inline-block;width:24px;height:27px;background:url('/resources/image/user/kor/main/icon/icon_plus_black.png') 0 0 no-repeat;position:absolute;right:0;bottom:8px;}
#mNews .more span{position:absolute;visibility:hidden;overflow:hidden;height:0;line-height: 0;width:0;margin:0;padding:0;font:0/0 Arial;}

#mProducts{width:978px;margin:0 auto;}
#mProducts ul{*zoom:1;padding-left:1px;}
#mProducts ul:after{content:'';display:block;clear:both;float:none;width:0;height:0;}
#mProducts ul li{float:left;width:485px;height:272px;margin:0 5px 5px 0;background:url('/resources/image/user/kor/main/img_prd1.jpg') 0 0 no-repeat;}
#mProducts ul li a{color:#aba9a7;display:block;height:100%;box-sizing:border-box;position:relative;}
#mProducts ul li a span.tit{display:inline-block;font-size:18px;color:#515151;font-family:arial;background:url('/resources/image/user/kor/main/icon/icon_plus.png') 50% 100% no-repeat;padding-bottom:38px;text-align:center;}
#mProducts ul li a:hover span.tit,
#mProducts ul li a:focus span.tit{color:#000;position:relative;z-index:20}
#mProducts ul li a span.txt{color:#666;font-size:13px;line-height:19px;}
#mProducts ul li a span.txt strong{color:#000;font-size:19px;font-weight:normal;display:block;background:url('/resources/image/user/kor/main/icon/line_prd.gif') 0 100% no-repeat;padding-bottom:14px;margin-bottom:20px;}
#mProducts ul li a span.over{display:none;position:absolute;background:url('/resources/image/user/kor/main/bg_over.png') repeat;width:100%;height:100%;left:0;top:0;z-index:10}
#mProducts ul li a:hover span.over,
#mProducts ul li a:focus span.over{display:block;}
#mProducts ul li a span.btnMore{color:#2ab6ad;font-size:13px;display:inline-block;margin-top:30px;line-height:1em;padding:0 17px 0 60px;background:url('/resources/image/user/kor/main/icon/icon_plusMore.png') no-repeat right center}
#mProducts ul li a:hover span.btnMore,
#mProducts ul li a:focus span.btnMore{position:relative;z-index:20}
#mProducts ul li.p1{background-image:url('/resources/image/user/kor/main/img_prd1.jpg');}
#mProducts ul li.p1 a{padding:110px 0 0 275px;}
#mProducts ul li.p2{background-image:url('/resources/image/user/kor/main/img_prd2.jpg');margin-right:0;}
#mProducts ul li.p2 a{padding:110px 0 0 275px;}
#mProducts ul li.p3{background-image:url('/resources/image/user/kor/main/img_prd3.jpg');}
#mProducts ul li.p3 a{padding:110px 0 0 65px;}
#mProducts ul li.p4{background-image:url('/resources/image/user/kor/main/img_prd4.jpg');margin-right:0;}
#mProducts ul li.p4 a{padding:110px 0 0 65px;}
#mProducts ul li.p5{background-image:url('/resources/image/user/kor/main/img_prd5.jpg');margin-bottom:0;}
#mProducts ul li.p5 a{padding:103px 0 0 275px;}
#mProducts ul li.p6{background-image:url('/resources/image/user/kor/main/img_prd6.jpg');margin-right:0;margin-bottom:0;}
#mProducts ul li.p6 a{padding:40px 0 0 40px;}

#mSupport{width:978px;margin:0 auto;}
#mSupport .galleryStyle .col a:hover span, .galleryStyle .col a:focus span{color:#000 !important;}
#mSupport .col a .img{position:relative;}
#mSupport .col a .img span.over{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:url('/resources/image/user/kor/main/bg_over2.png') no-repeat center;}
#mSupport .col a:hover .img span.over,
#mSupport .col a:focus .img span.over{display:block;}

#mContribution{}
#mContribution ul{*zoom:1;}
#mContribution ul:after{content:'';display:block;clear:both;float:none;width:0;height:0;}
#mContribution ul li{float:left;width:50%;height:440px}
#mContribution ul li a{display:block;height:440px;text-align:center;position:relative;}
#mContribution ul li a span{display:block;}
#mContribution ul li span.htxt{font-size:24px;font-weight:700;color:#000;padding-bottom:80px;margin-bottom:15px;padding-top:138px;}
#mContribution ul li a:hover span.htxt,
#mContribution ul li a:focus span.htxt{position:relative;z-index:20}
#mContribution ul li span.txt{font-size:12px;color:#464646;line-height:20px;}
#mContribution ul li a:hover span.txt,
#mContribution ul li a:focus span.txt{color:#000;}
#mContribution ul li a span.over{display:none;position:absolute;background:url('/resources/image/user/kor/main/bg_over.png') repeat;width:100%;height:100%;left:0;top:0;z-index:10}
#mContribution ul li a:hover span.over,
#mContribution ul li a:focus span.over{display:block}
#mContribution ul li.list1{position:relative;}
#mContribution ul li.list1 a.btn{position:absolute;left:50%;top:330px;margin-left:-91px;display:inline-block;height:auto;z-index:30;background:none !important;}
#mContribution ul li.list1 a{margin-right:3px;background:url('/resources/image/user/kor/main/img_contri1_2000.jpg') 50% 0 no-repeat;}
#mContribution ul li.list1 span.htxt{background:url('/resources/image/user/kor/main/icon/icon_contribution1.png') 50% 100% no-repeat;}
#mContribution ul li.list2 a{margin-left:2px;background:url('/resources/image/user/kor/main/img_contri2_2000.jpg') 50% 0 no-repeat;}
#mContribution ul li.list2 span.htxt{background:url('/resources/image/user/kor/main/icon/icon_contribution2.png') 50% 100% no-repeat;}
@media only screen and (max-width: 1200px) {
	#mContribution ul li.list1 a{margin-right:3px;background:url('/resources/image/user/kor/main/img_contri1_2000.jpg') 40% 0 no-repeat;}
	#mContribution ul li.list2 a{margin-left:2px;background:url('/resources/image/user/kor/main/img_contri2_2000.jpg') 20% 0 no-repeat;}
}
@media only screen and (min-width: 2000px) {
	#mContribution ul li.list1 a{margin-right:3px;background:url('/resources/image/user/kor/main/img_contri1_2000.jpg') 100% 0 no-repeat;}
	#mContribution ul li.list2 a{margin-left:2px;background:url('/resources/image/user/kor/main/img_contri2_2000.jpg') 0 0 no-repeat;}
}