@charset 'utf-8';

.cmHead { height:100%; }
	.cmHead .cmPivot { height:100%; }
	.cmHead .logo { padding:0px 0 15px 30px;  }
	.cmHead .logo span { display:block; width:440px; height:38px; font-size:12px; font-weight:normal; color:#ffffff; }
	.cmHead .utils { position:absolute; margin-top:-80px; right:30px; height:20px; line-height:20px; color:#ffffff; font-size:11px; }
	.cmHead .utils .log { float:left; }
	.cmHead .utils ul { float:left; margin-left:20px; }
	.cmHead .utils li { padding-left:10px; float:left; color:#aaaaaa;}
	.cmHead .utils li a { float:left; display:block; color:#bbbbbb; font-size:12px; }
	.cmHead .utils li a:hover { color:#333333; }
	.cmHead .utils .more { position:relative; }
	.cmHead .utils .layer { position:absolute; top:0; right:0; z-index:100; }
	.cmHead .utils2 { position:absolute; margin-top:-30px; right:25px; height:20px; line-height:20px; color:#333333; font-size:16px; font-weight:bold;}
	.cmHead .utils2 a {margin-left:30px; color:#ffffff;}
	.cmHead .bdg { display:block; padding:0; margin:0; position:absolute; bottom:0; left:0; width:100%; height:3px; border:0; 
		border-top:1px solid #6f7681; border-bottom:1px solid #26282c; background-color:#59626f; 
	}
	.cmHead {
		background: #ffffff;
		border-bottom-width:2px;border-bottom:solid #4f555f;
		/*background: #4f555f;  Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */

		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNTU1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTQzNDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #4f555f 0%, #394347 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f555f), color-stop(100%,#394347)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #4f555f 0%,#394347 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #4f555f 0%,#394347 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #4f555f 0%,#394347 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #4f555f 0%,#394347 100%); /* W3C */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f555f', endColorstr='#394347',GradientType=0 ); /*IE6-8*/
	}


.cmNavi { height:100%; border-right:1px solid #dddddd; background-color:#f5f5f5; }
	.cmNavi { }
	.cmNavi ul {}
	.cmNavi li { font-size:12px; }
	.cmNavi li.hasTree { background:url('/resources/kor/../app/images/public/gnb_depth1_arrow.gif') no-repeat right 14px; }
	.cmNavi li.open { background-position:right -26px; }
	.cmNavi li.hasTree.open {}
	.cmNavi li.hasTree.open .depth2 { display:block; }
	.cmNavi a { display:block; text-indent:24px; height:32px; line-height:32px; font-weight:bold; border-top:1px solid #ffffff; border-bottom:1px solid #e9e9e9; }
	.cmNavi a { color:#222222; text-shadow:0px 1px 1px rgba(255,255,255,1); background:/* url('/resources/kor/../app/images/public/gnb_depth1_indent.gif') */ no-repeat 12px 13px; }
	.cmNavi a:hover { color:#165175; }
	.cmNavi .depth1 .title1 { font-size:18px;padding-top:20px;padding-bottom:20px;}
	.cmNavi .depth1 .title1 { display:block; text-indent:24px; height:32px; line-height:32px; font-weight:bold; border-top:1px solid #ffffff; border-bottom:1px solid #e9e9e9; }
	.cmNavi .depth1 .title1 { color:#222222; text-shadow:0px 1px 1px rgba(255,255,255,1); background:/* url('/resources/kor/../app/images/public/gnb_depth1_indent.gif') */ no-repeat 12px 13px; }
	.cmNavi .depth2 { display:block; }
	.cmNavi .depth2 ul { margin-left:11px; }
	.cmNavi .depth2 .over {font-weight:bold;color:#ffffff;}
		.cmNavi .depth2 { padding:10px 0 10px 0px; background:#333333 /* url('/resources/kor/../app/images/public/gnb_depth2_tree.gif') */ no-repeat 10px bottom; }
		.cmNavi .depth2 a { margin-left:10px; text-indent:18px; height:24px; line-height:24px; font-weight:normal; color:#cccccc; border:none; }
		.cmNavi .depth2 a { text-shadow:0px 1px 1px rgba(0,0,0,1); background:/* url('/resources/kor/../app/images/public/gnb_depth2_indent.gif') */ no-repeat left center; }
		.cmNavi .depth2 li.hasTree { background:url('/resources/kor/../app/images/public/gnb_depth2_arrow.gif') no-repeat right 12px; }
		.cmNavi .depth2 li.open { background-position:right -28px; }
		.cmNavi .depth2 li.hasTree.open .depth3 { display:block; }
	.cmNavi .depth3 { display:block; margin-top:-9px; }
		.cmNavi .depth3 { padding:12px 0 10px 0px; background:#333333 /* url('/resources/kor/../app/images/public/gnb_depth2_tree.gif') */ no-repeat 10px bottom; }
		.cmNavi .depth3 a { /* background-image:url('/resources/kor/../app/images/public/gnb_depth2_indent.gif'); */ }
		.cmNavi .depth3 li.hasTree.open .depth4 { display:block; }
	.cmNavi .depth4 { display:block; margin-top:-9px; }
		.cmNavi .depth4 { padding:12px 0 10px 0px; background:#333333 /* url('/resources/kor/../app/images/public/gnb_depth2_tree.gif') */ no-repeat 10px bottom; }
		.cmNavi .depth4 a { /* background-image:url('/resources/kor/../app/images/public/gnb_depth2_indent.gif'); */ }
	.cmNavi li.open .active { font-weight:bold; color:#1985c7; }
	.cmNavi .depth2 li .active { color:#7ac7f6 !important; }
	.cmNavi .depth2 li a:hover { color:#ffffff; }
	/*
	.cmNavi .depth3 li .active { color:#ff9900 !important; }
	.cmNavi .depth4 li .active { color:#00cc99 !important; }
	*/

.pageTopArea { clear:both;padding:50px 30px; padding-top:20px; }
	.pageTopArea h2.pagetitle { float:left; margin-bottom:20px;  font-weight:bold; font-size:20px; color:#1985c7; }
	.pageTopArea span.pageLocation { float:right; margin-bottom:20px;  font-size:12px; color:#1985c7; }

.cmContent {}
	.cmContent table { width:100%; }
	.cmContent { clear:both;padding:50px 30px; padding-top:0px; }
	.cmContent .cmTopScroll { font-family:'Arial'; font-weight:bold; font-size:11px; z-index:999; }
	.cmContent .cmTopScroll a { position:fixed; bottom:0px; right:0px; display:block; padding:0 10px; height:20px; line-height:20px; color:#ffffff; background-color:#444444; }
	.cmContent .cmTopScroll a.lb { left:0; right:auto; top:auto; bottom:0; }
	.cmContent .cmTopScroll a.rb { left:auto; right:0; top:auto; bottom:0; }
	.cmContent .cmTopScroll a.lt { left:0; right:auto; top:0; bottom:auto; }
	.cmContent .cmTopScroll a.rt { left:auto; right:0; top:0; bottom:auto; }
	
	

